{{!-- 
Nexus API Documentation Component
Usage: {{> "nexus/api-doc" method="GET" endpoint="/api/users" description="Fetch all users"}}
--}}

<div class="nexus-api-doc">
    <div class="nexus-api-header">
        <span class="nexus-api-method {{method}}">{{method}}</span>
        <span class="nexus-api-endpoint">{{endpoint}}</span>
    </div>
    
    {{#if description}}
    <div class="nexus-api-body">
        <div class="nexus-api-description">{{description}}</div>
        {{> @partial-block}}
    </div>
    {{/if}}
</div>